/* 牌自体のCSS */

span.idol-tile {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  height: 24vh;
  text-align: center;
  width: 11vh;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}


/* 牌のフォントサイズ */

span.idol-tile.font-size-normal {
  font-size: 6vh;
  line-height: 10vh;
}

span.idol-tile.font-size-small {
  font-size: 5vh;
  line-height: 11vh;
}


/* 牌の背景色 */

span.idol-tile.color-Princess {
  background-color: pink;
}

span.idol-tile.color-Fairy {
  background-color: lightblue;
}

span.idol-tile.color-Angel {
  background-color: lemonchiffon;
}

span.idol-tile.color-Extra {
  background-color: lightgreen;
}

span.idol-tile.color-Sora {
  background-color: violet;
}


/* 牌選択用のチェックボックス */

.tile-checkbox {
  text-align: center;
}


/* ビュー全体のテーブル */

.hand-tile-table {
  margin-left: auto;
  margin-right: auto;
}


/* ユニット表示のCSS */

.unit-block {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 4vh;
  height: 6vh;
  text-align: center;
}


/* ユニット表示の切り替え */

.unit-block.unit-chi {
  color: red;
  font-weight: bold;
}

.unit-block.unit-plane {
  color: black;
  font-weight: normal;
}