/* 表示の背景色 */
span.button.color-Princess {
  border-color: red;
  color: red;
}

span.button.color-Fairy {
  border-color: blue;
  color: blue;
}

span.button.color-Angel {
  border-color: orange;
  color: orange;
}
