/* 表示自体 */
span.button.my-idol {
  font-size: 5vh;
}

/* 表示の背景色 */
span.button.my-idol.color-Princess {
  border-color: red;
  color: red;
}

span.button.my-idol.color-Fairy {
  border-color: blue;
  color: blue;
}

span.button.my-idol.color-Angel {
  border-color: orange;
  color: orange;
}
