span.button {
  border-color: black;
  border-radius: 2vh;
  border-style: solid;
  border-width: 1px;
  padding: 1vh 2vh 1vh 2vh;
  white-space: nowrap;
}

span.button.back-to-title {
  background-color: lightgray;
  font-size: 5vh;
}
