.footer-hand-tile-view {
  bottom: 10vh;
  position: absolute;
  width: 100vw;
}

.command-button-group {
  margin-left: 10vh;
  margin-top: 5vh;
}

.command-button-group span.button {
  background-color: greenyellow;
  font-size: 6vh;
  margin-left: 5vh;
}
