.footer-hand-tile-view {
  bottom: 10vh;
  position: absolute;
  width: 100vw;
}

.header-button-group {
  display: flex;
  margin-left: 5vh;
  margin-top: 5vh;
}

.header-button-group > span {
  margin-left: 2.5vh;
  margin-top: 2.5vh;
}
